@import 'tailwindcss';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}


@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    background-color: #0a0a0a !important;
  }
}

html.dark .shiki,
html.dark .shiki span {
  background-color: #0a0a0a !important;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    background-color: var(--bg-fd-background) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

html.dark .shiki,
html.dark .shiki span {
  background-color: var(--bg-fd-background) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}